<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Security</title>
    <script src="bower_components/jquery/src/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

</head>
<body>
<strong>Update Address</strong><br><br>

<div >
<form  name="save" ng-submit="update()">

    <div class="form-group">
        <label for="address1" class="control-label col-xs-10">Address1:</label>
        <div class="col-xs-10">
        <input type="text" class="input-sm" id="address1" ng-model="record.address1" ng-disabled="disabled">
        </div>
        </div>
    <div class="form-group">
        <label for="address2" class="control-label col-xs-10">Address2:</label>
        <div class="col-xs-10">
        <input type="text" class="input-sm" id="address2" ng-model="record.address2" ng-disabled="disabled">
        </div>
    </div>
    <div class="form-group">
        <label for="city" class="control-label col-xs-10">City:</label>
        <div class="col-xs-10">
        <input type="text" class="input-sm" id="city" ng-model="record.city" ng-disabled="disabled">
        </div>
    </div>
    <div class="form-group" >
        <label for="state" class="control-label col-xs-10" >State:</label>
        <div class="col-xs-10">
            <input type="text" class="input-sm" id="state" ng-model="record.state" ng-disabled="disabled">
        </div>
    </div>
    <div class="form-group">
        <label for="zipcode" class="control-label col-xs-10">Zipcode:</label>
        <div class="col-xs-10">
            <input type="text" class="input-sm" id="zipcode" ng-model="record.zipcode" ng-disabled="disabled">
        </div>
    </div>
    <div class="form-group">
       <label ng-show="show" class="control-label col-xs-10">Enter Password:</label>
        <div class="col-xs-10">
            <input type="text" ng-model="password" ng-required="true" ng-show="show">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-10">
            <input type="submit" value="Update" ng-show="show" class="input-sm" >
            <input type="button" name="Edit" value="Edit" ng-click="enable()" ng-hide="hide">
        </div>
        </div>
</form>
</div>
<h1>{{message}}</h1>

</body>
</html>